@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300italic,regular,italic,700,700italic&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Lato: regular,italic,700&subset=cyrillic-ext");
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
page {
	line-height: 1;
	color: #000;
}
/* ------------------ */

.page__block {
	font-family: "Fira Sans", sans-serif;
	max-width: 1100px;
	font-size: 300;
	margin: 0px auto;
	background-color: lightsteelblue;
	padding: 0px 20px 0px 20px;
}

/* Иконка и главное меню*/

.menu__icon img {
	width: 50px;
	margin: 0px 0px 0px 0px;
}

.icon__list li {
	display: inline-block;
	font-size: 20px;
	font-family: "Marck Script";
	vertical-align: middle;
}

.header__menu {
	display: inline-block;
	margin: 40px;
}

.menu__list {
	margin: 0px auto;
}

.menu__list li {
	display: inline-block;
	max-width: 800px;
	margin: 0px 40px 10px 30px;
	font-size: 20px;
}

.conteiner div {
	display: inline-block;
	vertical-align: middle;
}

/* оформление текста страницы */

.block {
	background-color: papayawhip;
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
}

.block li {
	list-style: circle;
	margin: 10px 10px 10px 20px;
	text-align: left;
}

.item {
	display: inline-block;
	width: 250px;
	background-color: moccasin;
	padding: 15px;
	vertical-align: top;
	max-height: 350px;
	overflow: auto;
	margin: 0px 0px 20px 0px;
}

.items__2,
.items__2 h3 {
	font-size: 0px;
}
.item__2 {
	display: inline-block;
	width: 250px;
	background-color: moccasin;
	padding: 15px;
	font-size: 16px;
	vertical-align: top;
}

h3 span {
	text-decoration: line-through;
}

.item__2 h3 {
	font-family: "Open Sans Condensed";
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

/* Блок, где текст вместе с картинкой */

.article {
	background-color: paleturquoise;
	padding: 15px;
	margin: 0px auto;
	text-align: center;
}
.article__img {
	float: right;
	width: 350px;
	margin: 15px;
}

.article__item {
	clear: both;
}

/* использование -border */

.block__border {
	background-color: khaki;
	padding: 10px;
	border: 5px solid rosybrown;
}

.block__border .block {
	border: 5px dashed paleturquoise;
}

.block__border2 {
	margin: 10px 0px 10px 0px;
	border: 3px double deeppink;
	padding: 10px;
}

.block__border2 h3 {
	border-bottom: 5px dotted fuchsia;
}

.block__border2 .block {
	border-left: 5px dashed salmon;
	border-top: 5px solid purple;
	border-right: 10px dotted rosybrown;
	border-bottom: 5px solid saddlebrown;
}

.block__border3 span {
	line-height: 40px;
	border: 3px dotted dimgrey;
}

.block__border3 h3 {
	text-shadow: 1px 1px 2px #000;
}

.block__border3 p {
	max-width: 300px;
	border: 3px solid gold;
	border-radius: 15px 45px;
	padding: 15px;
}

.block__border4 {
	width: 400px;
	height: 200px;
	overflow: hidden;
	background-color: honeydew;
	border: 7px dashed palegreen;
	margin: 15px;
}

.border4__inner {
	padding: 5px 45px 15px 15px;
	overflow: auto;
	margin: 5px -12px 15px 15px;
	height: 200px;
}

.border4 .footer {
	background-color: ;
	height: 100px;
}

.img__outline {
	outline: 5px solid red;
}

.block__shadow {
	background-color: sandybrown;
	padding: 10px;
	border-radius: 20px;
	box-shadow: inset 10px 5px 10px 10px rgb(225, 65, 212), 5px 5px 5px 5px violet;
	margin-top: 15px;
}

.block__opacity .block {
	opacity: 0.5;
}

h1 {
	font-family: "Open Sans Condensed";
	font-size: 32px;
	font-weight: bold;
	margin: 0px 20px 20px 0px;
}

h2 {
	font-family: "Open Sans Condensed";
	font-size: 28px;
	font-weight: bold;
}

h3 {
	font-family: "Open Sans Condensed";
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.footer {
	max-width: 1100px;
	display: block;
	height: 100px;
	background-color: darkgray;
	margin: 0px auto;
	padding: 27px 25px;
}

.button {
	background-color: #ff5722;
	display: block;
	padding: 15px 10px;
	line-height: 23px;
	font-family: lato;
	max-width: 350px;
	text-align: center;
	margin: 0px auto;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}
